body {
  font-size: 16px;
  color: #fff;
  background-color: #993300;
}

/** HEADER **/
#header-nav {
  background-color: #c6c6ec;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #fff0b3;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#menu-categories-title{
  margin-bottom: 50px;
  color:#000;
  font-weight: bold;
}
.menu-details{
  background-color: #fff0b3;
  color: #000;
  padding: 10px;
  margin: auto;
}
.menu-details > section.up{
  font-size: 2em;
  text-align: center;
}
.menu-details > p.bott{
  width: 100%;
}

@media (max-width:767px) {
  .menu-details p
  {
    padding: inherit;
    background-position: center;
  }
}
